<header>
  <div class="container">
    <h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>
  </div>
</header>

<body>
  <div class="container">
    <h2><%= @player_1.name %>: <%= @player_1.hit_points%>HP</h2>
  </div>
  <div class="container">
    <h2><%= @player_2.name %>: <%= @player_2.hit_points%>HP</h2>
  </div>
  <div class="container">
    <a href="/attack">
      <button class="btn">
        Attack!
      </button>
    </a>
  </div>
</body>

<style type="text/css">
  .container {
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  .btn {
    margin-left: auto; 
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 32px;
    border-radius: 8px;
    transition-duration: 0.2s;
    align: center;
  }
  .btn:hover {
    background-color: red;
    color: white;
  }
</style>
